<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.UserMapper">
	<!-- 增加用户数据 -->
	<!-- void insert(User user) -->
	<insert id="insertUser" parameterType="com.bean.User" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO c_user(
			username,
			password,
			phone,
			email,
			crtTime
		)VALUES(
			#{username},
			#{password},
			#{phone},
			#{email},
			current_timestamp
		)
	</insert>
	
	<!-- 根据用户名查询用户信息 -->
	<!-- User findUserByUsername(String username) -->
	<select id="findUserByUsername" resultType="com.bean.User">
		SELECT
			id,
			username,
			password,
			phone,
			email,
			crtTime,
			updTime
		FROM
			c_user
		WHERE
			username=#{username}
	</select>
	
	<!-- 获取某手机号对应的数量 -->
	<!-- Integer getCountByPhone(String phone) -->
	<select id="getCountByPhone" resultType="java.lang.Integer">
		SELECT
			COUNT(id)
		FROM
			c_user
		WHERE
			phone=#{phone}
	</select>
	
	<!-- 获取某邮箱地址对应的数量 -->
	<!-- Integer getCountByEmail(String email) -->
	<select id="getCountByEmail" resultType="java.lang.Integer">
		SELECT
			COUNT(id)
		FROM
			c_user
		WHERE
			email=#{email}
	</select>
</mapper>